.ipynb_checkpoints/
__pycache__/
api_data/
best_model/
image/
bert.h5
bert.json
bert_input.pkl
best_xgbmodel.pkl
bestclassifier.h5
book.csv
book_ver2.csv
effb4.h5
effb4.json
image_array.pkl
image_isbn_list.pkl
loan.csv
preprocess_1.csv
raw_data.csv
result_data.csv
stopwords_title.txt
tokenization_morp.py
tokenized_titles.pkl
trials.pickle
uncased_L-12_H-768_A-12.zip